.quantity-button {
  display: flex;
  height: 2.5rem;

  &__add {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid lightgray;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      transition: 0.5s;
      background-color: darkorange;
    }
  }

  &__input {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border: none;
    width: 13rem;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    text-align: center;
    color: gray;
    font-size: 1rem;

    &:focus{
      outline: none;
    }

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }
  }

  &__remove {
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid lightgray;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      transition: 0.5s;
      background-color: darkorange;
    }
  }
}