.loginSignup {
  height: 30rem;;
  width: 50rem;
  display: flex;
  place-items: center;
  padding: 1rem;

  &__content-wrap {
    margin: 0 auto;
    width: 40rem;
    display: flex;
  }
}

.login {
  border-right: 1px solid lightgray;
  width: 20rem;
  padding-right: 5rem;

  &__email-title {
    margin-bottom: 1rem;
  }

  &__email {
  }

  &__input-email {
    border: 2px solid black;
    border-radius: 5px;
    height: 2rem;
    width: 15rem;
    margin-bottom: 1rem;
  }

  &__password {
    width: 10rem;
  }
}

.login-with-social {
  place-items: center;
}

.login-with-google {
  margin-left: 4rem;
  width: 12rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.login-with-linkedin {
  margin-left: 4rem;
  margin-bottom: 1rem;
  width: 12rem;
  height: 2.5rem;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}