.loginSignup {
  height: 30rem;;
  width: 50rem;
  display: flex;
  place-items: center;
  padding: 1rem;

  &__content-wrap {
    margin: 0 auto;
    display: flex;
  }
}

.login {
  border-right: 1px solid lightgray;
  padding: 2rem;
  width: 25rem;

  &__email {
    width: 10rem;
  }

  &__password {
    width: 10rem;
  }
}

.signup {
  padding: 2rem;

  &__first-section {
    display: flex;
  }

  &__second-section {
    display: flex;
  }

  &__first-name {
    width: 10rem;
  }

  &__last-name {
    width: 10rem;
  }

  &__email {
    width: 10rem;
  }

  &__password {
    width: 10rem;
  }
}