.list-categories {
  // border: 5px solid #0160a9;
  display: block;
  text-align: left;
  width: 20rem;
  margin-right: 3rem;
  border-radius: 0.5rem;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;

  &__single-categories{
    // border-bottom: 5px solid #0160a9;
    padding: 1rem 0rem 1rem 1rem;
    transition: 0.2s;

    &:hover {
      transition: 0.2s;
      cursor: pointer;
      background-color: lightgray;
    }
  }
}
