.review-card {
  margin: 1rem 0rem 1rem 0rem;
  border-radius:5px;
  height: 23rem;
  width: 20rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__profile-wrap {
    display: flex;
  }

  &__profile {
    display: flex;
  }

  &__profile-image {
    border: 1px solid red;
    border-radius: 50%;
  }

  &__person-name {
    font-weight: bold;
  }

  &__compagny-name {
    font-size: 0.9rem;
    margin-top: 0.1rem;
  }

  &__person-info {
    margin-left: 2rem;
    padding-top: 0.5rem;
    text-align: left;
  }

  &__review {
    margin-top: 3rem;
    line-height: 1.5rem;
    text-align: left;
    margin-bottom: 4rem;
  }

  &__purchase-wrap {
    display: flex;
  }

  &__purchase {
  }

  &__date {
    text-align: right;
  }
}