.cart-icon {
  margin-left: 1rem;
  margin-right: 1rem;

  &__notifications {
    width: 0.5rem;
    height: 0.5rem;
    border: 50%;
    background-color: red;
    color:white;
    position: absolute;
  }
}
