@font-face {
  font-family: 'Roboto';
  src: url(../Assets/Fonts/NunitoSans/NunitoSans-ExtraLight.ttf)
    format('truetype');
  font-weight: ExtraLight;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../Assets/Fonts/NunitoSans/NunitoSans-ExtraBoldItalic.ttf)
    format('truetype');
  font-weight: Bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../Assets/Fonts/NunitoSans/NunitoSans-ExtraBold.ttf)
    format('truetype');
  font-weight: ExtraBold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../Assets/Fonts/NunitoSans/NunitoSans-BoldItalic.ttf)
    format('truetype');
  font-weight: Bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../Assets/Fonts/NunitoSans/NunitoSans-Bold.ttf) format('truetype');
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../Assets/Fonts/NunitoSans/NunitoSans-BlackItalic.ttf)
    format('truetype');
  font-weight: Black;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../Assets/Fonts/NunitoSans/NunitoSans-Black.ttf) format('truetype');
  font-weight: Black;
  font-style: normal;
}