.deals-section {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &__deals-wrap {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
  }

  &__membership-section {
    width: 100%;
    justify-content: center;
    place-items: center;
    background-color: gray;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    margin-top: 2rem;
    height: 15rem;
  }
}

.image-wrapper {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.testing12 {
  margin: 0 auto;
}