.desktop-navbar-wrap {
  display: block;
}

.mobile-navbar-wrap {
  display: none;
}

@media screen and (max-width: 992px) {
  .desktop-navbar-wrap {
    display: none;
  }

  .mobile-navbar-wrap {
    display: block;
  }
}

// xs: 0,
// sm: 576px,
// md: 768px,
// lg: 992px,
// xl: 1200px,
// xxl: 1400px