.equipement-store {
  padding-top: 2rem;

  &__title {
    margin-left: 2rem;
    font-size: 2rem;
  }

  &__categories-and-items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  &__products-cards {
    display: flex;
  }

}