.equipement-store {
  padding-top: 2rem;

  &__title {
    margin-left: 2rem;
    font-size: 2rem;
  }

  &__categories-and-items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  &__select-product-wrap {
    display: grid;
    grid-template-columns: 22rem auto;
    grid-gap: 10px;
  }

  &__products-cards {
    display: flex;
    flex-wrap: wrap;
  }

}