.basic-dropdown-list {
  background-color: white;
  animation: 0.2s ease-in-out 1 slideInFromTop;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  position: absolute;
  margin-left: -2rem;
}

.list-title {
  font-size: 1rem;
}

.list-item {
  border: none;
  padding: 0.5rem;
  text-align: left;
  padding-left: 2rem;
  width: 100%;
  background-color: white;

  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
